# Ignore everything by default
/*

# Allow git metadata
!.gitignore
!/.gitattributes
!/.gitmodules

# Allow plugin folder chain
!/Plugins/
!/Plugins/Narrativeed3f9374a6eV6/
!/Plugins/Narrativeed3f9374a6eV6/Source/
!/Plugins/Narrativeed3f9374a6eV6/NarrativePro.uplugin

# Re‑ignore everything else inside the plugin
/Plugins/Narrativeed3f9374a6eV6/*
!/Plugins/Narrativeed3f9374a6eV6/Source/
!/Plugins/Narrativeed3f9374a6eV6/NarrativePro.uplugin
